POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ecommerce_db

GATEWAY_PORT=8088

MONGO_USER=
MONGO_PASSWORD=
GHCR_OWNER=
IMAGE_TAG=latest
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
